<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="site/head::head(${commons.site_title()},${commons.google_site_verification()}, ${commons.baidu_site_verification()})"></div>

<body>

<!-- header -->

<div th:replace="site/header::header"></div>

<!-- header -->

<!-- main -->

<main role="main-home-wrapper" class="container">
    <div class="row">
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
                <header>
                    <h2><span>阳</span> A Java Developer.</h2>
                </header>
                <p>生活在前 技术博客在后</p>
                <p>简单生活 享受技术</p>
                <p id="count">当前在线人数为:1</p>
            </article>
        </section>
        <th:block th:each="archive,archiveStat : ${archives.list}">
            <th:block th:if="${archiveStat.index == 1}">
                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                    <figure class="effect-oscar"><img th:src="${commons.show_thumb(archive.content)}" alt=""
                                                      class="img-responsive"/>
                        <figcaption>
                            <h2>
                                <th:block th:text="${archive.title}"></th:block>
                            </h2>
                            <p>
                                <th:block th:utext="${commons.fmtdate_en(archive.created)}"></th:block>
                            </p>
                            <a th:href="${commons.photoPermalink(archive.cid)}">View more</a></figcaption>
                    </figure>
                </section>
            </th:block>
        </th:block>

        <!-- left -->
        <div class="clearfix"></div>
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
                <th:block th:each="archive,archiveStat : ${archives.list}">
                    <th:block th:if="${archiveStat.index != 1 && archiveStat.index % 2 == 0}">
                        <li>
                            <figure class="effect-oscar"><img th:src="${commons.show_thumb(archive.content)}" alt=""
                                                              class="img-responsive"/>
                                <figcaption>
                                    <h2>
                                        <th:block th:text="${archive.title}"></th:block>
                                    </h2>
                                    <p>
                                        <th:block th:utext="${commons.fmtdate_en(archive.created)}"></th:block>
                                    </p>
                                    <a th:href="${commons.photoPermalink(archive.cid)}">View more</a></figcaption>
                            </figure>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </section>

        <!-- right -->
        <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
                <th:block th:each="archive,archiveStat : ${archives.list}">
                    <th:block th:if="${archiveStat.index != 1 && archiveStat.index % 2 != 0}">
                        <li>
                            <figure class="effect-oscar"><img th:src="${commons.show_thumb(archive.content)}" alt=""
                                                              class="img-responsive"/>
                                <figcaption>
                                    <h2>
                                        <th:block th:text="${archive.title}"></th:block>
                                    </h2>
                                    <p>
                                        <th:block th:utext="${commons.fmtdate_en(archive.created)}"></th:block>
                                    </p>
                                    <a th:href="${commons.photoPermalink(archive.cid)}">View more</a></figcaption>
                            </figure>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </section>
        <div class="clearfix"></div>
        <input type="hidden" id="rootPath" th:value="${rootPath}">
    </div>
</main>

<!-- main -->

<!-- footer -->
<div th:replace="site/footer::footer(${commons.site_title()},${commons.site_record()},${commons.site_url()})"></div>

</body>
<script th:inline="javascript">
    var socket;
    if (typeof(WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");

        var rootPath = $('#rootPath').val();
        console.info(rootPath);
        var urls = "ws:" + rootPath + "/websocket"

        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //socket = new WebSocket("ws://localhost:9094/starManager/websocket/张三")
        socket = new WebSocket("ws://localhost:8080/websocket");
        // socket = new WebSocket("wss://peiyoung.com/websocket");
        //打开事件
        socket.onopen = function () {
            console.log("Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());
        };
        //获得消息事件
        socket.onmessage = function (msg) {
            console.log(msg.data);
            if (msg.data != "连接成功" && msg.data != "{\"type\": \"ping\"}") {
                $('#count').text("当前在线人数为：" + msg.data);
            }
            //发现消息进入    调后台获取
            // getCallingList();
        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            console.log("Socket发生了错误");
        }

        window.setInterval(function () { //每隔5秒钟发送一次心跳，避免websocket连接因超时而自动断开
            var ping = {"type": "ping"};
            socket.send(JSON.stringify(ping));
        }, 50000);

        /* $(window).unload(function(){
             socket.close();
         });*/

//                            		$("#btnSend").click(function() {
//                            			socket.send("这是来自客户端的消息" + location.href + new Date());
//                            		});
//
//                            		$("#btnClose").click(function() {
//                            			socket.close();
//                            		});
    }
</script>
</html>